* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #ffe4e1
}

div {
    display: block
}

body {
    background-color: #282a36;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
}

.clear {
    height: 0;
    font-size: 0;
    clear: both;
    over-flow: hidden
}

#header {
    height: 50px;
    line-height: 50px;
    background-color: #282a36;
    display: inline-block;
    width: 100%;
    min-width: 1350px
}

#header li {
    list-style: none
}

#blogTitle {
    width: 250px;
    float: left;
    padding-left: 20px
}

#blogTitle h1>a:after {
    content: ""
}

#blogTitle h1 {
    font-size: 20px
}

#blogTitle h2 {
    display: none
}

#lnkBlogLogo {
    display: none
}

#navigator {
    padding-left: 20px;
    padding-right: 20px
}

#navigator ul {
    float: left
}

#navigator li {
    display: inline-block
}

#navigator li>a {
    padding-left: 10px;
    padding-right: 10px
}

#navigator li>a:hover {
    color: #CDADFB
}

#navigator .blogStats {
    position: relative;
    float: right;
    color: #ffe4e1
}

#main {
    margin-top: 10px;
    width: 1310px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

#mainContent {
    margin-right: 10px;
    width: 900px;
    float: left;
    background-color: #282a36;
    padding: 15px;
    border-radius: 2px
}

#mainContent h1 {
    font-size: 28px;
    color: #ffcbcc;
}

#mainContent h2 {
    font-size: 26px;
    color: #ffcbcc;
    margin-top: 30px;
}

#mainContent h3 {
    font-size: 24px;
    color: #ffcbcc;
    margin-top: 30px;
}

#mainContent h4 {
    font-size: 22px;
    color: #ffcbcc;
    margin-top: 30px;
}

#mainContent h6 {
    font-size: 20px;
    color: #ffcbcc;
    margin-top: 20px;
}

#mainContent .day {
    position: relative;
    margin: 0 0 10px 0;
    padding: 15px;
    border: 1px dashed #ddd;
    display: block
}

#mainContent .dayTitle {
    display: none
}

#mainContent .day .postTitle {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    font-size: 20px;
    font-weight: bolder;
    vertical-align: middle;
    border-left: 4px solid #c40000;
    position: relative;
    left: -17px;
    margin-bottom: 15px
}

#mainContent .postTitle>a {
    margin-left: 13px
}

#mainContent .postTitle>a:hover {
    color: #ccb0d5
}

#mainContent .day .postCon .c_b_p_desc {
    line-height: 23px;
    font-size: 14px;
    opacity: .7;
    margin-bottom: 10px;
    height: 50px;
    overflow: hidden
}

#mainContent .day .postCon .c_b_p_desc:after {
    content: " . . ."
}

#mainContent .day .postCon .c_b_p_desc>a {
    display: none
}

#mainContent .day .postDesc {
    font-size: 12px;
    opacity: .7;
    color: #ffe4e1;
    background-color: #282a36;
}

#mainContent .day .postDesc a:hover {
    color: #CDADFB
}

#sideBar {
    width: 340px;
    float: left;
    color: #ffe4e1
}

#sideBar a:hover {
    color: #CDADFB
}

#sideBar h3 {
    border-left: 3px solid #ccb0d5;
    padding-left: 10px;
    margin-bottom: 10px
}

#sideBar .newsItem {
    background-color: #282a36;
    padding: 15px;
    border-radius: 2px;
    margin-bottom: 10px
}

#profile_block {
    margin-top: 5px
}

#sideBar .newsItem #blog-news {
    border-top: 1px dashed #ebebeb;
    line-height: 25px;
    color: #ffe4e1
}

#profile_block {
    padding-top: 10px;
    line-height: 25px;
    color: #ffe4e1
}

#leftcontentcontainer .sidebar-block {
    background-color: #282a36;
    margin-bottom: 10px;
    padding: 15px
}

#leftcontentcontainer #sidebar_search_box #widget_my_zzk {
    padding-top: 10px;
    border-top: 1px dashed #8498dd
}

#leftcontentcontainer #sidebar_search_box #widget_my_zzk .input_my_zzk {
    width: 205px;
    height: 28px;
    vertical-align: middle;
    padding: 0 12px;
    font-size: 13px;
    color: #8498dd;
    background-color: #282a36;
    background-image: none;
    border: 1px dashed #ccc
}

#leftcontentcontainer #sidebar_search_box #widget_my_zzk .btn_my_zzk {
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
    width: 70px;
    font-weight: 400;
    color: #8498dd;
    text-align: center;
    background-color: #282a36;
    border: 1px dashed #44475a;
    font-size: 13px;
    letter-spacing: 1px
}

#leftcontentcontainer #sidebar_search_box #widget_my_zzk .btn_my_zzk:hover {
    cursor: pointer
}


/*google search*/

#leftcontentcontainer #sidebar_search_box #widget_my_google {
    padding-top: 10px;
    border-top: 1px dashed #8498dd
}

#leftcontentcontainer #sidebar_search_box #widget_my_google .input_my_zzk {
    width: 205px;
    height: 28px;
    vertical-align: middle;
    padding: 0 12px;
    font-size: 13px;
    color: #8498dd;
    background-color: #282a36;
    background-image: none;
    border: 1px dashed #ccc
}

#leftcontentcontainer #sidebar_search_box #widget_my_google .btn_my_zzk {
    line-height: 30px;
    height: 30px;
    vertical-align: middle;
    width: 70px;
    font-weight: 400;
    color: #8498dd;
    text-align: center;
    background-color: #282a36;
    border: 1px dashed #44475a;
    font-size: 13px;
    letter-spacing: 1px
}

#leftcontentcontainer #sidebar_search_box #widget_my_google .btn_my_zzk:hover {
    cursor: pointer
}

#leftcontentcontainer #sidebar_categories ul {
    border-top: 1px dashed #ebebeb;
    padding-top: 5px;
    list-style: none
}

#leftcontentcontainer #sidebar_categories ul>li {
    line-height: 35px;
    border-bottom: 1px dashed #ebebeb
}

#leftcontentcontainer #sidebar_categories ul>li:before {
    content: " - "
}

#leftcontentcontainer #sidebar_topviewedposts #TopViewPostsBlock {
    padding-top: 10px;
    border-top: 1px;
    border-top: 1px dashed #ebebeb
}

#leftcontentcontainer #sidebar_topviewedposts #TopViewPostsBlock ul {
    list-style: none
}

#leftcontentcontainer #sidebar_topviewedposts #TopViewPostsBlock li {
    line-height: 35px;
    border-bottom: 1px dashed #ebebeb;
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

#leftcontentcontainer #sidebar_topcommentedposts #TopFeedbackPostsBlock {
    padding-top: 10px;
    border-top: 1px;
    border-top: 1px dashed #ebebeb
}

#leftcontentcontainer #sidebar_topcommentedposts #TopFeedbackPostsBlock ul {
    list-style: none
}

#leftcontentcontainer #sidebar_topcommentedposts #TopFeedbackPostsBlock li {
    line-height: 35px;
    border-bottom: 1px dashed #ebebeb;
    width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

#leftcontentcontainer #call_me_box {
    padding-top: 10px;
    border-top: 1px;
    border-top: 1px dashed #ebebeb;
    text-align: center
}

#footer {
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    vertical-align: center;
    text-align: center
}

#mainContent .postBody {
    margin-top: 10px!important;
    color: #ffe4e1
}

#mainContent a:hover {
    color: #CDADFB
}

#mainContent .postBody pre {
    padding: 10px
}

#mainContent .postBody table {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse
}

#mainContent .postBody table thead {
    background-color: #1c2b36
}

#mainContent .postBody table th {
    font-size: 14px;
    font-weight: normal;
    padding: 8px;
    color: white;
    text-align: left;
    border: 1px solid #1c2b36
}

#mainContent .postBody table td {
    font-size: 12px;
    padding: 8px;
    border: 1px solid #ccc
}

#cnblogs_post_body th,
.cnblogs-post-body th {
    background-color: #1c2b36
}

#topics .post .postTitle {
    text-align: center;
    background-color: #282a36;
    padding: 30px 0;
    border: 1px dashed #ebebeb
}

#topics .post .postBody #cnblogs_post_body {
    border: 1px dashed #ebebeb;
    padding: 10px
}

#topics .post .postBody #cnblogs_post_body img {
    max-width: 880px;
    border: 1px dashed green;
}

#mainContent .postBody p {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 25px
}

#cnblogs_post_body {
    margin-bottom: 10px
}

.cnblogs-post-body code {
    background-color: cornflowerblue;
    color: #ffe4e1
}

#blog_post_info_block {
    margin-top: 10px
}

#topics .post .postBody #blog_post_info_block {
    border: 1px dashed #ebebeb;
    padding: 10px
}

#topics .post .postDesc {
    border: 1px dashed #ebebeb;
    padding: 10px;
    margin-top: 10px
}

#blog-comments-placeholder {
    border: 1px dashed #ebebeb;
    padding: 10px;
    margin-top: 10px
}

#blog-comments-placeholder br {
    display: none
}

#blog-comments-placeholder .feedback_area_title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ebebeb
}

#blog-comments-placeholder .feedbackItem {
    padding: 10px 0;
    border-bottom: 1px dashed #ebebeb
}

#blog-comments-placeholder .feedbackItem a:hover {
    color: #8498dd
}

#blog-comments-placeholder .feedbackListSubtitle {
    display: inline-block;
    padding: 10px 0
}

#blog-comments-placeholder .feedbackListSubtitle a {
    color: orangered;
    font-weight: bold
}

#blog-comments-placeholder .feedbackManage {
    float: right
}

#blog-comments-placeholder .feedbackManage .comment_actions a {
    padding-left: 5px;
    color: #146a80;
    font-weight: normal
}

#blog-comments-placeholder .feedbackListSubtitle .louzhu {
    color: gold;
    background-color: #1c2b36;
    padding: 1px 10px;
    border-radius: 2px;
    position: relative
}

#blog-comments-placeholder .feedbackManage .comment_actions a:hover {
    color: #ea0000
}

#blog-comments-placeholder .feedbackCon {
    line-height: 30px
}

#blog-comments-placeholder .feedbackCon .comment_vote a {
    padding-right: 5px;
    color: #146a80;
    font-weight: normal
}

#comment_nav {
    border: 1px dashed #ebebeb;
    padding: 10px;
    margin-top: 10px;
    line-height: 30px;
    background-color: #282a36;
    color: #ffe4e1;
}

#blog-comments-placeholder .feedbackCon .comment_vote a:hover {
    color: #c40000
}

#comment_form #comment_nav a {
    padding-right: 10px;
    color: #146a80
}

#comment_form #comment_nav a:hover {
    color: #ea0000
}

#comment_form_container {
    border: 1px dashed #ebebeb;
    padding: 10px;
    margin-top: 10px;
    line-height: 30px;
    background-color: #282a36;
}

#comment_form_container #commentform_title {
    font-size: 18px;
    font-weight: bold;
    color: #ffe4e1;
    padding-bottom: 10px #282e36;
    border-bottom: 1px dashed #ebebeb
}

#comment_form_container textarea {
    width: 855px;
    height: 150px;
    border: 1px dashed #ebebeb;
    padding: 10px #282e36;
    letter-spacing: 1px;
    background-color: #282a36;
    color: cornsilk;
}

#comment_form_container #commentbox_opt {
    margin-top: 10px #282e36
}

#comment_form_container #commentbox_opt>input {
    margin-bottom: 10px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 5px 10px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 3px;
    display: block;
    width: 100%;
    background-color: #6d8fd7;
    color: #ffe4e1
}

#comment_form_container #commentbox_opt>a {
    color: #ff79c6
}

#ad_t2 {
    display: none
}

#cnblogs_c1 {
    display: none
}

#under_post_news {
    display: none
}

#cnblogs_c2 {
    display: none
}

#under_post_kb {
    display: none
}

.my-title {
    display: block;
    border-left: 5px solid #cf2730;
    padding-left: 10px;
    font-size: 20px!important;
    font-weight: bolder;
    line-height: 40px!important;
    background-color: #ebebeb;
    color: #1c2b36
}

#green_channel {
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0;
    font-size: 12px;
    width: 100%;
    text-align: left
}

#green_channel #green_channel_follow {
    background-color: #f1a277;
}

#green_channel #green_channel_favorite {
    background-color: #e94546;
}

#author_profile #author_profile_info img {
    border-radius: 50%;
    margin-right: 15px
}

#mainContent .c_b_p_desc {
    line-height: 23px;
    font-size: 14px;
    opacity: .7;
    margin-bottom: 10px;
    height: 50px;
    overflow: hidden;
    color: #ffe4e1
}

#mainContent .day .postSeparator {
    position: relative;
    height: 10px;
    line-height: 10px;
    border-top: .5px dashed #ddd;
    border-bottom: .5px dashed #ddd;
    border-left: 1px solid white;
    border-right: 1px dashed white;
    margin: 15px 0;
    left: -16px;
    width: 898px;
    background: #282a36
}

#mainContent .c_b_p_desc:after {
    content: " . . ."
}

#mainContent .c_b_p_desc>a {
    display: none
}

#mainContent .entrylistItem {
    position: relative;
    margin: 0 0 10px 0;
    padding: 15px;
    border: 1px dashed #ddd;
    display: block
}

#mainContent .entrylistItem .entrylistPosttitle {
    display: inline-block;
    height: 22px;
    line-height: 22px;
    font-size: 20px;
    font-weight: bolder;
    vertical-align: middle;
    border-left: 4px solid #c40000;
    position: relative;
    left: -17px;
    margin-bottom: 15px
}

#mainContent .entrylistPosttitle>a {
    margin-left: 13px
}

#mainContent .entrylistItem .entrylistItemPostDesc {
    font-size: 12px;
    opacity: .7
}

#mainContent .entrylistItem .entrylistItemPostDesc a:hover {
    color: #ea0000
}

#mainContent .entrylistTitle {
    text-align: center;
    background-color: #282a36;
    padding: 30px 0;
    border: 1px dashed #ebebeb;
    margin-bottom: 10px
}

blockquote {
    border: 0;
    padding: 10px 20px;
    margin: 0;
    font-size: 14px;
    border-left: 5px solid #eee;
    background-color: #6d8fd7;
    color: #cdadfb !important;
}

blockquote pre {
    padding: 5px!important;
    font-size: 14px;
    background-color: #6d8fd7;
    color: #cdadfb !important;
}


/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.cnblogs-markdown code,
.cnblogs-post-body code {
    background-color: #171520 !important;
    color: #cdadfb;
}

.cnblogs-markdown .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #171520 !important;
    color: #ffe4e1;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
    color: #f92672;
}

.hljs-code {
    color: #66d9ef;
}

.hljs-class .hljs-title {
    color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
    color: #bf79db;
}

.hljs-string {
    color: #f1fa8c
}

.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
    color: #1bdfc3;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
    color: #5d5191;
}

.hljs-keyword {
    color: #ff79c6
}

.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
    font-weight: bold;
}